html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
}
table {
    margin: 0px;
}

.margin {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.align {
    vertical-align: top;
}

.realtor {
        font-size: 13px;
    color: #777777;
}

.carlos {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;

}

.padding {
    padding: 0px;
}



li {
     padding: 10px;
}
